.form-container {
  width: 350px;
  margin: 40px auto;
  background:white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #00D4FF;
}

form input, form button {
  width: 95%;
  padding: 10px;
  margin-top: 12px;
  border-radius: 6px;
  /* border: 1px solid #ddd; */
  border:none;
  outline: none;
  
}

form button {
  background: #007BFF;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

form button:hover {
  background: #0056b3;
}

.gender-container {
  display: flex;
   width: 95%;
  padding: 10px;
  margin-top: 12px;
  border: none;
  gap: 20px;
  color: gray;
  font-size: 15px;
}
.gender-container select{
  color: gray;
  width: 70%;
  height: 30px;
  border: 2px solid #00D4FF ;
  outline: none;
  border-radius: 10px;
}
hr{
  width: 95%;
  height: 2px;
  background: #00D4FF;
  border: none;
  margin-bottom: px;
}