.form-container {
  width: 350px;
  margin: 40px auto;
  background:white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #00D4FF;
}

form input, form button {
  width: 95%;
  padding: 10px;
  margin-top: 12px;
  border-radius: 6px;
  border:none;
  outline: none;
  
}

form button {
  background: #007BFF;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

form button:hover {
  background: #0056b3;
}

.gender-container {
  display: flex;
   width: 95%;
  padding: 10px;
  margin-top: 12px;
  border: none;
  gap: 20px;
  color: gray;
  font-size: 15px;
}
.gender-container select{
  color: gray;
  width: 70%;
  height: 30px;
  border: 2px solid #00D4FF ;
  outline: none;
  border-radius: 10px;
}
hr{
  width: 95%;
  height: 2px;
  background: #00D4FF;
  border: none;
  margin-bottom: px;
}
.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  width: 100%;
  padding-right: 35px; /* Eye icon ke liye space */
}

.eye-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #555;
  transition: color 0.3s ease;
}

.eye-icon:hover {
  color: #007bff;
}



@media (max-width: 768px){
  .form-container{
     width: 300px;
     height: 490px;
  }
}
